* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.card-add__form {
  width: 500px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-add__textarea {
  position: relative;
  margin: 15px 0 0 0;
  width: 350px;
  max-width: 90%;
  height: 100px;
  resize: none;
  padding: 5px;
  background-color: var(--header-footer-bg);
  color: var(--light-text);
  box-shadow: 4px 4.5px 2px 2px var(--card-shadow-border);
  border: none;
}

.card-add__counter_container {
  display: flex;
  margin-top: 4px;
  justify-content: right;
  width: 350px;
  max-width: 90%;
}

.card-add__counter,
.card-add__maxCount {
  color: var(--header-footer-bg);
  font-weight: bold;
  font-size: 1.2rem;
}

.card-add__textarea::placeholder {
  color: var(--light-text);
}

.card-add__label {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--header-footer-bg);
}

.card-add__input_ul_container {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 500px;
  max-width: 80%;
}

.card-add__input_li_container {
  width: 500px;
}

.card-add__input_tags {
  width: 350px;
  max-width: 90%;
  height: 30px;
  padding: 5px;
  background-color: var(--header-footer-bg);
  color: var(--light-text);
  box-shadow: 4px 4.5px 2px 2px var(--card-shadow-border);
  border: none;
}

.card-add__input_tags::placeholder {
  color: var(--light-text);
}

.add-button__tags_container {
  margin: 10px 0 0 80px;
  display: flex;
  justify-content: right;
  width: 300px;
}

.add-button__text {
  color: var(--header-footer-bg);
  margin: 2px 10px 0 0;
}

.add-button__tags {
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  background-color: var(--body-bg);
  cursor: pointer;
}

.icon:hover {
  fill: var(--tags);
}

.card-add__button {
  margin-top: 20px;
  width: 200px;
  height: 35px;
  outline: none;
  border: none;
  background-color: var(--header-footer-bg);
  color: var(--light-text);
  font-weight: bold;
  box-shadow: 4px 4.5px 2px 2px var(--card-shadow-border);
  cursor: pointer;
}

.card-add__button:hover {
  background-color: var(--button-bg);
  color: var(--header-footer-bg);
  box-shadow: 4px 4.5px 2px 2px var(--button-shadow);
}
