nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-footer-bg);
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0;
}

ul {
  display: flex;
  gap: 40px;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 25px;
}

a .icon {
  fill: transparent;
  transition: all 1s ease-in-out;
}

a .icon:hover {
  fill: var(--light-text);
}

a.current .icon {
  fill: var(--light-text);
}
